./MNIST/input/*
./National Data Science Bowl/kaggle-ndsb1/data/*
./SFCrime/data/*
./Face/data/*
.ipynb_checkpoints/
input/
models/*
other_codes/
submissions/
test/
.idea/
_pycache_/
log/
curve/
*dataVersion/
*.pyc
*.un~
ugc_credit/
