[data]
train_path=/Users/guoshaocheng/myownmodels/github_kaggle/Kaggle/SantanderTrans/input/train.csv
test_path=/Users/guoshaocheng/myownmodels/github_kaggle/Kaggle/SantanderTrans/input/test.csv

[basic]
boosting=gbdt
objective=binary

[tunning]
num_leaves=10,15
max_depth=5,5
min_data_in_leaf=20,15

[wrapper]
# metric为sklearn的函数,这里通过字符串调用函数,但必须在主文件中 from sklearn import metrics
metric=metrics.log_loss
metric_proba=0
metric_name=binary_logloss
scoring=neg_log_loss
n_jobs=4
# 0 或 1
save_model=0
